<h1 mat-dialog-title>{{ data?.editingStudent ? "Editar" : "Nuevo" }} Alumno</h1>

<div mat-dialog-content>
    <form [formGroup]="studentForm">
      <div class="row">
        <div class="col-6">
          <mat-form-field class="example-form-field w-100">
            <mat-label>Nombre</mat-label>
            <input formControlName="firstName" matInput type="text" />
            <mat-error>
              @if(studentForm.get('firstName')?.invalid) { Ingrese un nombre valido. }
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-form-field w-100">
            <mat-label>Apellido</mat-label>
            <input formControlName="lastName" matInput type="text" />
            <mat-error>
              @if(studentForm.get('lastName')?.invalid) { Ingrese un apellido valido. }
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-form-field w-100">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput type="email" />
            <mat-error>
              @if(studentForm.get('email')?.hasError('email')||studentForm.get('email')?.hasError('required')) { Debe ingresar un email valido. }
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
        <mat-form-field class="example-form-field w-100">
          <mat-label>DNI</mat-label>
          <input formControlName="dni" matInput type="number"/>
          <mat-error>
            @if(studentForm.get('dni')?.hasError('dniValidator') || studentForm.get('dni')?.hasError('required')) { Ingrese un DNI valido. }
          </mat-error>
        </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-form-field w-100">
            <mat-label>Direccion</mat-label>
            <input formControlName="street" matInput type="text"/>
            <mat-error>
              @if(studentForm.get('street')?.hasError('required')) { Ingrese la direccion. }
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-form-field w-100">
            <mat-label>Provincia</mat-label>
            <mat-select formControlName="idProvince">
              <mat-option *ngFor="let province of provinces$ | async" [value]="province['id']">
                {{ province["name"] }}
              </mat-option>
            </mat-select>
            <mat-error>
              @if(studentForm.get('idProvince')?.hasError('required')) { Ingrese la provincia. }
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-form-field w-100">
            <mat-label>Telefono</mat-label>
            <input formControlName="phone" matInput type="text"/>
            <mat-error>
              @if(studentForm.get('phone')?.hasError('required')) { Ingrese el telefono. }
            </mat-error>
          </mat-form-field>
        </div>
    </div>    
    </form>
</div>
  
  <div mat-dialog-actions>
    <button mat-dialog-close mat-button>Cancelar</button>
    <button (click)="onSave()" mat-button [disabled]="studentForm.invalid">Guardar</button>
  </div>