<h1>Administrar Cursos</h1>

<button mat-stroked-button (click)="openForm()">
    <mat-icon>
        add
    </mat-icon>
    Nuevo Curso
</button>
<div class="mat-elevation-z8 tableContainer">
@if (isLoading) {
  <div class="spinnerContainer"><mat-spinner></mat-spinner></div>
  } @else {  
  <table mat-table [dataSource]="courses$" class="mat-elevation-z8 rounded-table">
    
      <!-- Position Column -->
      <ng-container matColumnDef="idCourse">
        <th appTitleFont mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let course"> {{course.idCourse}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="title">
        <th appTitleFont mat-header-cell *matHeaderCellDef> Titulo </th>
        <td mat-cell *matCellDef="let course"> {{course.title}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="degree">Tipo de Curso
        <th appTitleFont mat-header-cell *matHeaderCellDef> Grado </th>
        <td mat-cell *matCellDef="let course"> {{course.degree}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="actions">
          <th appTitleFont mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let course">
            <button (click)="goToDetail(course.idCourse)" mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
            <button (click)="openForm(course)" mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="onDelete(course.idCourse)" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </td>
      </ng-container>
    
      <tr appTitleFont mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  }
</div>