.notFoundContainer{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 30px;
}

.cardContent{
    margin-top: 20px;
}

.example-card{
    width: 700px;
    height: 250px;
}