<div class="notFoundContainer">
<mat-card class="example-card" appearance="outlined">
<mat-card-header>
    <mat-card-title-group>
    <mat-card-title>OOPS!!!</mat-card-title>
    <mat-card-subtitle>Esta intentando acceder a un recurso inexistente.</mat-card-subtitle>
    <img mat-card-sm-image src="images/adminHomeImage.jpg" >
    </mat-card-title-group>
</mat-card-header >
<mat-card-content class="cardContent">
    Usted esta intentando acceder a un recurso no encontrado, 
    si desea el recurso solicitado deberia ser un recurso valido comuniquese 
    con el <a href="mailto:admin@admin.com">administrador del sitio</a>, en caso contrario acceda a la home desde <a routerLink="/admin">aqui</a>
</mat-card-content>
</mat-card>
</div>