.example-card {
    margin: 0 10%; 
    min-width: 400px; 
 }
  
  mat-list {
    padding: 0; 
  }
  
  mat-list-item {
    height: 20px; 
    line-height: 20px; 
    padding: 0 16px; 
    margin: 0;
  }