<mat-card *ngIf="chair$ | async as chair" class="example-card" appearance="outlined">
  <div *ngIf="chair;">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{chair.course}}</mat-card-title>
        <button mat-icon-button (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <mat-list role="list">
            <mat-list-item role="listitem">Profesor: {{chair.profesor}}</mat-list-item>
            <mat-list-item role="listitem">Comienza: {{chair.startDate | date: 'dd/mm/yyyy'}}</mat-list-item>
            <mat-list-item role="listitem">Vacantes Habilitadas: {{chair.vacants}}</mat-list-item>
          </mat-list>
    </mat-card-content>
  </div>  
 </mat-card>

  <h1 appTitleFont>Alumnos Inscriptos:</h1>
    <app-inscriptions *ngIf="chair$ | async as chair" [id]="chair.id" [filterType]="'chair'"></app-inscriptions>