.tableContainer{
  margin-top: 20px;
  border-radius: 20px;
  margin-bottom: 20px; 
}

.spinnerContainer{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}