<mat-toolbar class="toolBar">
    <button mat-icon-button class="example-icon" aria-label="">
      <mat-icon (click)="drawer.toggle()">menu</mat-icon>
    </button>
    <span class="example-spacer"></span>    
    <div class="title-container">
        <img class="logo" src="images/logo.jpg" alt="">
        <span>Universidad Argentina del interior</span>
    </div>
    <span class="example-spacer"></span>
    <div class="userName" *ngIf="authUser$ | async; let authUser">{{authUser | userFullName:true }}</div>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
    <!--sidebar content-->
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <app-nav-bar/>
    </mat-drawer>
    <!--general content-->
    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
<footer class="footer">
    <div class="footerRow"><mat-icon>copyright</mat-icon><p class="footerText">Copyright 2024</p></div>
</footer>